 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1>Welcome to PharmEasy</h1> 
        <p>Future of health care is here!</p> 
      </div>
    </div>
  </div>
</div> 