.hide {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.position-relative {
  position: relative;
}
.para {
  text-align: left;
  color: #4B4B4B;
}
.fade.in {
  background-color: rgba(0,0,0,.7);
}
.home-image {
  background: url('/img/main-banner.jpg') 0 20% repeat;
  width: 100%;
  background-size: cover;
  min-height: 600px;
  position: relative;
  color: #fff;
}
.home-heading {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 100px;
  font-weight: 500; 
}
.body-box {
  width: 1180px !important;
  margin: 0 auto;
}
.top-section {
  display: block;
}
.top-section .logo {
  background: url('/img/logo.png') no-repeat;
  width: 180px;
  height: 104px;
  background-size: 178px;
  display: inline-block;
}
.top-section .link-wrap {
  font-size: 0;
  float:right;
}
.top-section .link-wrap .link {
  display: inline-block;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 4px solid transparent;  
  cursor: pointer;  
  transition: border .3s ease;
}
.top-section .link-wrap .link a {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.top-section .link-wrap .link:hover {
  border-top: 4px solid #12926f;
}
.top-section .link-wrap .link:hover a {
  color: #12926f;
}
.home-section {
  min-height: 400px;
}
.even {
  background-color: #F0F0F0;
}
.odd {
  background-color: #fff;
}
.form-normal {
  display: block;
  padding: 40px 0;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form-normal .form-input {
  display: block;
  width: 382px;
  margin: 5px auto;
  outline: none;
  padding: 10px;
  color: #232323;
  border: 1px solid #c3c3c3;
}
.form-normal .form-input:focus {
  box-shadow: 0 0 2px 0 #194775;
  border: 1px solid #194775;
}
.form-normal textarea.form-input {
  height: 100px;
  resize: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #c3c3c3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #c3c3c3;
  opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #c3c3c3;
  opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
.form-normal .form-input:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #dcdcdc;
}
.form-normal .form-input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #dcdcdc;
  opacity: 1;
}
.form-normal .form-input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #dcdcdc;
  opacity: 1;
}
.form-normal .form-input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #dcdcdc;
}
.form-group .form-control.error {
  border: 1px solid red;
}
.form-group .error-msg {
  position: absolute;
  color: #FFF;
  background-color: #194775;
  width: 250px;
  right: -265px;
  top: 0;
  padding: 12px;
  z-index: 1;
  font-size: 14px;
}
.btn {
  display: inline-block;
  border-style: solid;
  text-align: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  background-position: center;
  background-repeat: no-repeat;
  text-transform: none;
  -webkit-appearance: none;
  outline: none;
}
.btn-nm {
  line-height: 40px;
  border-width: 2px;
  font-size: 16px;
  padding: 0 16px;
  font-weight: 600;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-green {
  color: #fff !important; 
  background-color: #0fab80;
  border-color: #0fab80;
  transition: all 0.3s ease;
}
.btn-green:hover {
  background-color: #12926f;
  border-color: #12926f;
}
.btn-green:active {
  box-shadow: 0 0 3px 0 #12926f;
}
.contact-form-btn {
  width: 382px;
  margin: 0 auto;
}
.products {
  background: url('/img/pisa.jpg') no-repeat fixed;
  background-size: cover;
}
.link-flash {
  margin-left: 20px;
  font-weight: 600;
}
/* share form css starts */
.share-form .search-result {
  margin: -5px 0 20px;
}
.share-form {
  font-size: 0;
  padding: 0 62px;
}
.share-form .search-dropdown {
  border: 2px solid #E2E4EB;
  border-radius: 2px;
}
.share-form .user-search-item {
  font-size: 15px;
  line-height: 24px;
  color: #7D8AA1;
  padding: 0 15px;
  cursor: pointer;
  border-bottom: 1px solid #E2E4EB;
}
.share-form .user-search-item:hover {
  color: #444A59;
  background-color: #f2f3f5;
  transition: all .3s ease;
}
.share-form .user-search-item:last-child {
  border: none;
}
.share-form .no-bottom-margin {
  margin-bottom: 0;
}
.share-form .share-error {
  color: #ff7878;
  font-size: 14px;
  font-weight: 600;
}
.share-form .share-success {
  color: #21a01b;
  font-size: 16px;
  font-weight: 600;
}
/* share form css ends */