.login {
  width: 700px;
  margin: 60px auto;
  text-align: center;
}
.form-group .form-input {
  display: block;
  margin: 5px auto;
  outline: none;
  padding: 10px 0 10px 42px;
  color: #232323;
  font-size: 16px;
  border: 1px solid #c3c3c3;
  width: 444px;
  transition: border 0.3 ease;
  background-color: #FFF;
}
.form-group select.form-input {
  color: #c3c3c3;
}
.form-group select.form-input option:disabled {
  color: #c3c3c3;
}
.form-group select.form-input option {
  color: #232323;
}
.form-group .form-input.half-input {
  width: 215px;
  display: inline-block;
}
.form-group .form-input.half-input:first-child {
  margin-right: 7px;
}
.form-group .form-input.half-input:last-child {
  margin-left: 7px;
}
.form-group .form-input.error {
  border: 1px solid red;
}
.form-group .input-icon {
  position: absolute;
  top: 9px;
  left: 17px;
  font-size: 20px;
  color: #c3c3c3;
}
.form-group .form-input:focus {
  box-shadow: 0 0 2px 0 #194775;
  border: 1px solid #194775;
}
.form-group .form-input.error ~ .input-icon {
  color: red;
}
.form-group {
  position: relative;
  margin: 10px 0;
  font-size: 0;
}
.signup-login-btn, .forgot-password-btn {
  margin: 0 auto;
}
.users-tab .form-type {
  display: inline-block;
  font-size: 16px;
  color: #777;
  cursor: pointer;
  width: 50%;
}
.users-tab .form-type.active {
  color: blue;
} 
.users-tab {
  width: 400px;
  font-size: 0;
  margin: 20px auto;
}
.sign-up-form, .forgot-pass-form {
  padding: 0 128px;
}
.forgot-pass {
  display: block;
  text-align: left; 
}